@import '_mixins';
@import '_variables';
body{
    background-color: #4158D0;
background-image: linear-gradient(116deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 100vw;
    height: 100vh;
    @include goFlex(space-around, space-around, nowrap);
    nav{
        width: 100vw !important;
        display: block !important;
        border-radius: 6px !important;
        height: 56px;
    }
    .signupContainer {
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 500px;
        height: 600px !important;
    }
    
    h2 {
        margin: 0;
    }
    
    p {
        color: #666;
    }
    
    .inputGroup {
        margin: 15px 0;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #f3e5f5;
        font-size: 16px;
    }
    
    .signupButton {
        background: #8e24aa;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
                transition: background-color 0.3s;
                
                &:hover {
                background-color: #0056b3;
                }
                &:active {
                background-color: #004085;
                }
        font-size: 16px;
    }
    
    .googleSignin {
        background: none;
        color: #8e24aa;
        border: 2px solid #8e24aa;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
    }
    
    .divider {
        margin: 20px 0;
        color: #666;
    }
    
    .loginLink {
        margin-top: 20px;
        font-size: 14px;
        color: #666;
        a{
        color: #8e24aa;
        text-decoration: none;
        }
    }

}